
.botoes{

background-color: rgba(218, 10, 10, 0.466);
width: 50PX;
height: 50px;
border-style: solid;
    border-radius: 10%;

}

body{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


